body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* solo grande */
  background-color: #73c7beae;
  /* color fondo home */
  text-align: center;
  padding: 2rem;
}

.hero h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  /* ajusta según quieras más grande */
  color: #000;
  line-height: 1.5;
}